.pusher {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.content {
  flex: 1;
}

.header-space {
  margin-top: 4.5rem;
}

.ui.menu.footer {
  margin-top: 4.5rem;
}

.ui.header.page-header {
  margin-top: 0.3rem;
  margin-bottom: 2.2rem;
}
