<div class="ui bottom fixed teal inverted stackable menu">
  <div class="ui container">
    <div class="item">
      {{ site.description | escape }}
    </div>

    <div class="ui teal inverted menu right">
      <a class="item" href="https://github.com/Ruben9922">
        <i class="github icon"></i>
        <div class="content">
          GitHub
        </div>
      </a>
      <a class="item" href="https://stackoverflow.com/users/3806231/ruben9922">
        <i class="stack overflow icon"></i>
        <div class="content">
          StackOverflow
        </div>
      </a>
    </div>
  </div>
</div>
