<head>
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <!-- Site Properties -->
  <title>{% if page.title %}{{ page.title | append: " | " | append: site.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>

  <link rel="stylesheet" type="text/css" href="/semantic/dist/components/reset.css">
  <link rel="stylesheet" type="text/css" href="/semantic/dist/components/site.css">

  <link rel="stylesheet" type="text/css" href="/semantic/dist/components/container.css">
  <link rel="stylesheet" type="text/css" href="/semantic/dist/components/grid.css">
  <link rel="stylesheet" type="text/css" href="/semantic/dist/components/header.css">
  <link rel="stylesheet" type="text/css" href="/semantic/dist/components/menu.css">
  <link rel="stylesheet" type="text/css" href="/semantic/dist/components/breadcrumb.css">
  <link rel="stylesheet" type="text/css" href="/semantic/dist/components/icon.css">
  <link rel="stylesheet" type="text/css" href="/semantic/dist/components/list.css">
  <link rel="stylesheet" type="text/css" href="/semantic/dist/components/segment.css">
  <link rel="stylesheet" type="text/css" href="/semantic/dist/components/divider.css">

  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
